
.container {
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

/* @media (max-width:768px) {
  .content {
    flex: 50%;
  }
} */

.image {
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  outline: none;
  color: #000;
  border: 1px solid #bbb;
  font-size: 16px;
 
}
